#team-hero .carousel-inner {
  height: 380px;
}
@media only screen and (min-width: 1024px) {
  #team-hero .carousel-inner .carousel-caption h1 {
    height: 1%;
    margin: -50px;
  }
}
@media only screen and (min-width: 1440px) {
  #team-hero .carousel-inner .carousel-caption h1 {
    height: 1%;
    margin: -100px;
  }
}
@media only screen and (min-width: 1920px) {
  #team-hero .carousel-inner .carousel-caption h1 {
    height: 10%;
    margin: -250px;
  }
}
